<div class="main">
	<!-- landing section -->
	<section>
		<h1 class="main-title">{{title}}</h1>
		<h2 class="main-subtitle">{{subtitle}}</h2>
		<h2 class="page-name">{{hello}}</h2>

	</section>
	
	<!-- portfolio/work section -->
	<section>
		<h2 class="page-name">works</h2>
		
	</section>

	<!-- about me section -->
	<section>
		<h2 class="page-name">about</h2>
		
	</section>

	<!-- contact/social media section -->
	<section>
		<h2 class="page-name">contact</h2>
		
	</section>
</div>