<div class="main">
	<!-- landing section -->
	<section>
		<h1 class="main-title">{{title}}</h1>
		<h3 class="main-subtitle">{{subtitle}}</h3>
		<h2 class="page-name">{{hello}}</h2>

	</section>
	
	<!-- portfolio/work section -->
	<section>
		<h2 class="page-name">works</h2>
		<div class="row projects-container">
			<div class="col-xs-12 col-sm-6 col-md-4 project">
				<h4>Cortex Game</h4>
				<p>product manager, front-end</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project">
				<h4>TreadStone Studios</h4>
				<p>graphic design</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project">
				<h4>Lorem Ipsum</h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project">
				<h4>Lorem Ipsum</h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project">
				<h4>Lorem Ipsum</h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project">
				
			</div>
		</div>
	</section>

	<!-- about me section -->
	<section>
		<h2 class="page-name">about</h2>
		
	</section>

	<!-- contact/social media section -->
	<section>
		<h2 class="page-name">contact</h2>
		
	</section>
</div>