<div class="main">
  <section id="section1">
    <div class="main-header">
      <h1 class="main-title">{{work.name}}</h1>
      <h3 class="main-subtitle">{{work.role}}</h3>
    </div>
  </section>
</div>
