@import "base";
@import "animations";
@import "mixins";

/* general styles */

body {
	.flex(@direction: column);
	background-color: @color-light;
	font: @font-size @font-family;
	padding: 0 !important;
	line-height: @line-height;
	color: @color-dark1;
}

header {
	.flex(@direction: column; @justify: flex-start; @align: flex-start);
	left: 0;
	height: 20%;
	padding: @gridspacing * 3;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: @z-index-medium;

	.main-title {
		.animation(@name: appear; @duration: @transition-duration*2; @ease: @transition-easing);
		margin-right: @gridspacing * 2;
	}
	.main-subtitle {
		.animation(@name: appear; @duration: @transition-duration*2; @ease: @transition-easing);
		font-weight: lighter;
		padding-bottom: @gridspacing / 4;
	}
}

.header-inverted {
	.flex(@justify: flex-start; @align: center);
	background-color: @color-dark1;
	box-shadow: 0 0 2px 0 @color-dark;
	color: @color-light;
	height: 10%;
	padding: 0 @gridspacing * 3;

	a {
		color: @color-light;
	}
}

nav {
	position: fixed;
	right: @gridspacing * 3;
	top: @gridspacing * 3;
	width: auto;
	z-index: @z-index-high;

	@media screen and (max-width: @media-tablet) {
		display: none;
	}

	ul {
		display: flex;
		justify-content: space-between;

		:not(:last-child) {
			padding-right: @gridspacing * 5;
		}

		a {
			color: @color-light;
			font-size: @font-size-large;
			font-weight: lighter;
		}
	}
}

.main-scrollable {
	.flex(@direction: column; @justify: flex-start);
	height: 100%;
	margin-top: @gridspacing * 10;
	width: 75%;
}

h1, h2, h3, h4 {
		margin: 0;
}

h1 {
	font-size: @font-size-large3;
}

h2 {
	font-size: @font-size-large2;
	font-weight: bold;
}

h3 {
	font-size: @font-size-large;
}

a {
	cursor: pointer;
	text-decoration: none !important;
	transition-duration: @transition-duration;

	&:hover {
		color: @color-interactive2;
	}
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

.page-name {
	position: absolute;
	bottom: 0;
	right: @gridspacing * 3;
	font-weight: bold;
	margin-bottom: @gridspacing * 3;
	z-index: @z-index-medium;
	.animation(@name: appear; @duration: @transition-duration; @ease: @transition-easing);
}

section {
	padding: @gridspacing * 3;
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.action {
	.flex();
	background-color: @color-light;
	border-radius: @border-radius;
	.box-shadow(@spread: 2px; @color: @color-interactive2);
	color: @color-interactive2;
	font-weight: bold;
	padding: @gridspacing * 2;
	position: relative;
	transition-duration: @transition-duration;

	&:hover {
		background-color: @color-interactive2;
		color: @color-light;
	}
}

// work components
.highlights-container {
	.flex(@wrap: wrap);
	height: 100%;
	overflow: hidden;
	width: 100%;

	.highlight {
		background-color: @color-light;
		border-radius: @border-radius;
		box-shadow: 0 @gridspacing/4 @gridspacing 0 @color-dark;
		color: @color-dark1;
		cursor: pointer;
		.flex(@direction: column);
		height: 25vw;
		margin: @gridspacing * 2;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 25vw;
		user-select: none;
		.transition(@duration: @transition-duration/2);

		&:hover {
			box-shadow: 0 @gridspacing/2 @gridspacing*2 0 @color-dark;
			transform: translateY(-@gridspacing);
		}

		.highlight-content {
			background-color: @color-interactive2;
			color: @color-light;
			.flex(@direction: column);
			height: 25%;
			overflow: hidden;
			width: 100%;
		}

		.highlight-image {
			.flex();
			height: 75%;
			overflow: hidden;
			padding: @gridspacing * 2;

			img {
				.transition(@duration: @transition-duration);

				&:hover {
					max-width: 103%;
					max-height: auto;
				}
			}
		}
	}
}

/* landing section specific */
#section1 {
	color: @color-light;
	background-color: @color-dark1;
	.flex(@direction: column);

	#hello {
		@media screen and (max-width: @media-laptop) {
			font-size: @font-size-large2;
		}
	}

	.highlights-container {
		padding-top: @gridspacing * 5;
	}

	.next-page {
		position: fixed;
		bottom: @gridspacing * 3;
		left: 50%;
		max-width: @gridspacing * 5;
		z-index: @z-index-high;
		.animation(@name: bounce; @duration: @transition-duration*4; @ease: @transition-easing; infinite);
		.transition(@duration: @transition-duration*2);

		&:hover {
			.animation(@name: none; @duration: 0s; @ease: @transition-easing; infinite);
			cursor: pointer;
		}
	}
}

/* works section specific */
#section2 {
	color: @color-light;
	background-color: @color-interactive2;

	.highlights-container {
			.flex(@justify: flex-start; @wrap: wrap);

			.highlight {
				height: 20vw;
				width: 20vw;
			}

			.highlight-content {
				background-color: @color-dark1;
			}
	}
}

/* about section specific */
#section3 {
	.flex(@direction: column);
	background-color: @color-light;
	color: @color-dark1;

	.profile-container {
		.flex();
		width: 75%;
		z-index: @z-index-low;

		@media screen and (max-width: 768px) {
			.flex(@direction: column);
			text-align: center;
		}

		.infobar-container {
			width: 40%;

			.profile-pic-container {
				.flex(@direction: column);
				background-color: @color-interactive2;
				border-top-left-radius: @gridspacing;
				border-top-right-radius: @gridspacing;
				padding: @gridspacing * 2;
				width: 100%;

				.picture-border {
					border-radius: 50%;
					.border(@width: @gridspacing/2; @color: @color-light);

					.profile-pic {
						border-radius: 50%;
						max-width: 320px;

						@media screen and (max-width: 768px) {
							max-width: 270px;
						}
					}
				}
				.resume-btn {
					color: @color-light;
					margin-top: @gridspacing * 2;
					font-weight: bold;
				}
			}

			.facts-container {
				cursor: pointer;
				.flex();
				height: @gridspacing * 7;
				width: 100%;
				margin-top: @gridspacing * 2;
				color: @color-interactive2;
				.border(@width: 2px; @color: @color-interactive2);
				border-bottom-left-radius: @gridspacing;
				border-bottom-right-radius: @gridspacing;
				box-shadow: inset 0 0 0 0 @color-light;
				.transition (@duration: @transition-duration);
				user-select: none;

				&:hover {
					box-shadow: inset 420px 0 0 0 @color-interactive2;
					color: @color-light;
				}

				.factoid-container {
					.flex(@justify: flex-start);
					height: 100%;
					width: 90%;
					padding-left: @gridspacing;
					h4 {
						margin: 0;
					}
				}
				.refresh-container {
					.flex();
					height: 100%;
					width: 10%;
					img {
						height: 50%;
					}
				}
			}
		}

		.profile-content {
			width: 60%;
			padding-right: @gridspacing * 6;
			text-align: justify;

			@media screen and (max-width: 768px) {
				padding-left: 0;
			}

			p:first-child {
				font-size: @font-size;
				font-weight: bold;
			}

			p {
				margin-bottom: @gridspacing;
			}

			h2 {
				text-align: left;
				margin-bottom: @gridspacing * 2;
			}
		}
	}
}

/* contact secion specific */
#section4 {
	color: @color-light;
	background-color: @color-dark;
	.flex(@direction: column);

	.contact-content {
		.flex(@direction: column);
		font-size: @font-size-large;
		font-weight: lighter;
		max-width: @media-tablet;
		text-align: center;

		.contact-buttons {
			.flex(@justify: space-around);
			margin-top: @gridspacing * 8;
			width: 100%;

			img {
				height: @gridspacing * 8;
				border: 2px solid transparent;
				padding: @gridspacing;
				.transition(@duration: @transition-duration);

				&:hover {
					border: 2px solid @color-light;
				}
			}
		}
	}
}

// work page styles
.subject-heading {
	.flex();
	width: 100%;

	.subject-cover {
		width: 55%;
	}

	.subject-title {
		border-left: 2px solid @color-dark1;
		.flex(@direction: column; @align: flex-start);
		padding-left: @gridspacing * 5;
		margin-left: @gridspacing * 3;
		width: 45%;

		h3, p {
			margin-bottom: @gridspacing * 2;
		}
	}
}

/* media queries */
@media screen and (max-width: @media-tablet) {

}

@media screen and (max-width: @media-laptop) {

}
