@raleway: "Lato", "Lucida Grande", sans-serif;

/* color variables */
@sky-blue: rgb(52, 152, 219); //#3498db
@midnight-blue: rgb(44, 62, 80); //#2c3e50
@pomegranate: rgb(192, 57, 43); //#c0392b

.border(@width: 1px; @style: solid; @color: grey) {
	border-style: @style;
	border-width: @width;
	border-color: @color;
}

.flex(@direction: row; @justify: center; @align: center) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify;
	align-items: @align;
}

.background(@linrad: linear; @direction: top; @color1; @color2) when (@linrad = linear) {
    background: @color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@color1, @color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@color1, @color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@color1, @color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@color1, @color2); /* Standard syntax */
}

.background(@linrad: linear; @direction: top; @color1; @color2) when (@linrad = radial) {
    background: @color1; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(@color1, @color2); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(@color1, @color2); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(@color1, @color2); /* For Firefox 3.6 to 15 */
    background: radial-gradient(@color1, @color2); /* Standard syntax */
}


/* animations */
.animation (@name; @duration: 2s; @ease: linear; @animation-iteration-count: 1) {
	-webkit-animation: @name @duration @ease @animation-iteration-count;
	-moz-animation: @name @duration @ease @animation-iteration-count;
	-o-animation: @name @duration @ease @animation-iteration-count;
	animation: @name @duration @ease @animation-iteration-count;

}

.transition (@property: all; @timing: ease; @duration) {
	-webkit-transition: @property @timing @duration;
	-moz-transition: @property @timing @duration;
	transition: @property @timing @duration;
}

/* general styles */

body {
	font: 16px @raleway;
	padding: 0 !important;
	line-height: 1.5;
	color: @midnight-blue;
}

a {
	cursor: pointer;
	text-decoration: none !important;
}

h2 {
	font-size: 40px;
}

.page-name {
	position: absolute;
	bottom: 0;
	right: 25px;
	font-weight: bold;
	z-index: 2;
	.animation(@name: appear; @duration: 1s; @ease: ease);
}

section {
	padding: 0px 25px;
}

ul {
	list-style: none;
	padding: 0;
}

nav {
	margin-top: 45px;
	position: fixed;
	right: 25px;
	width: 400px;

	ul {
		display: flex;
		justify-content: space-between;

		a {
			color: white;
			font-size: 20px;
			font-weight: bold;
		}
	}
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* landing section specific */
#section1 {
	.background(@linrad: radial; @color1: lighten(@sky-blue, 40%); @color2: lighten(@sky-blue, 20%));

	#hello {
		@media screen and (max-width: 992px) {
			font-size: 32px;
		}
	}

	.main-header {
		.flex(@direction: column; @align: flex-start);
		margin-top: 25px;
		position: absolute;
		z-index: 2;

		.main-title {
			.animation(@name: appear; @duration: 2s; @ease: ease);
		}
		.main-subtitle {
			margin-top: 0px;
			.animation(@name: appear; @duration: 2s; @ease: ease);
		}
	}

	.planet-holder {
		.flex();
		width: 100%;
		height: 100%;

		.planet {
			position: absolute;
			width: 75%;
			max-width: 700px;
			z-index: 0;
			.animation(@name: rotate; @duration: 120s; @ease: linear; infinite);
		}

		.clouds {
			 position: absolute;
			 width: 65%;
			 max-width: 700px;
			 z-index: 1;
			.animation(@name: rotate; @duration: 40s; @ease: linear; infinite);

			&:hover {
				cursor: pointer;
			}
		}
	}
	.next-page-container {
		.flex();
		height: 5%;

		.arrow-down {
			position: absolute;
			bottom: 10px;
			max-width: 75px;
			z-index: 3;
			.animation(@name: bounce; @duration: 2s; @ease: ease; infinite);
			.transition(@duration: 1s);

			&:hover {
				cursor: pointer;
				.animation(@name: bounce; @duration: 0s; @ease: ease; infinite);
				max-width: 60px;
			}
		}
	}
}

/* works section specific */

#section2 {
	padding: 0px;
	background-color: white;

	.projects-container {
		height: 100%;
		div {
			.flex(@direction: column);
			.border();
			padding: 0;
			height: calc(100% / 3);
			overflow: hidden;

			&:hover {
				background-color: rgba(44, 62, 80,0.5);
				cursor: pointer;
			};
			@media screen and (min-width: 993px) {
				height: 50%;
			}

			.project-content {
				z-index: 2;
				width: 100%;
				height: 100%;
				padding: 25px 10px;

				.project-title, p {
					display: none;
					color: white;
					.animation(@name: appear; @duration: 1s; @ease: ease);
				}
			}

			img {
				height: 100%;
				z-index: 1;
				position: absolute;
			}
		}
	}
}

/* about section specific */
#section3 {
	.flex(@direction: column);
	.background(@color1: lighten(@midnight-blue, 30%); @color2: @midnight-blue);
	color: white;

	.about-background {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 60%;
		max-width: 420px;
		opacity: .6;
		.animation(@name: rotate; @duration: 120s; @ease: linear; infinite);

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	.profile-container {
		max-width: 1024px;
		z-index: 1;
		.flex();

		@media screen and (max-width: 768px) {
			.flex(@direction: column);
			text-align: center;
		}

		.profile-pic-container {
			.flex(@direction: column);
			background-color: white;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			padding: 20px;

			.picture-border {
				border-radius: 50%;
				.border(@width: 2px; @color: lighten(@midnight-blue, 35%));

				.profile-pic {
					border-radius: 50%;
					max-width: 320px;

					@media screen and (max-width: 768px) {
						max-width: 270px;
					}
				}
			}
			.resume-btn {
				color: lighten(@midnight-blue, 35%);
				margin-top: 15px;
				font-weight: bold;
			}
		}

		.profile-content {
			padding-left: 50px;
			text-align: justify;

			@media screen and (max-width: 768px) {
				padding-left: 0;
			}

			p:first-child {
				font-size: 18px;
				font-weight: bold;
			}
			h2 {
				text-align: left;
			}
		}
		.facts-container {
			.flex();
			padding: 15px;
			max-width: 420px;
			margin-top: 25px;
			color: white;
			.border(@width: 2px; @color: white);
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			box-shadow: inset 0 0 0 0 white;
			.transition (@duration: 0.5s);

			&:hover {
				box-shadow: inset 420px 0 0 0 white;
    			color: lighten(@midnight-blue, 35%);
			}

			.factoid-container {
				width: 95%;
				h4 {
					margin: 0;
				}
			}
			.refresh-container {
				width: 5%;
				a {
					color: white;

					span:hover {
						.animation(@name: rotate; @duration: 10s; @ease: linear; infinite);
					}
				}
			}
		}
	}
}

/* contact secion specific */
#section4 {
	.flex(@direction: column);
	.background(@color1: @midnight-blue; @color2: black);
	color: white;

	.contact-content {
		.flex(@direction: column);
		max-width: 640px;
		text-align: justify;

		.contact-buttons {
			.flex(@justify: space-around);
			width: 100%;

			.contact-button {
				.border(@width: 2px; @color: white);
				padding: 15px;
				color: white;

				span {
					padding-right: 10px;
				}
			}
		}
	}
}

/* media queries */
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.planet, .clouds {
		max-width: 640px;
	}
	.page-name {
		display: none;
	}
	#hello {
		display: block;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.planet, .clouds {
		max-width: 640px;
	}
}

// @media screen and (min-width: 993px) {
// 	.projects-container {
// 		div {
// 			height: calc(100% /2);
// 		}
// 	}
// }
